{
  "env": {
    "jest": true,
    "browser": true,
    "es2020": true,
    "react-native/react-native": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["jest", "react", "react-native", "@typescript-eslint"],
  "rules": {
    "react-native/no-raw-text": 2,
    "react-native/no-inline-styles": 2
  }
}
